name: Deploy HTML site to Azure Web App - app-hananali

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      # No npm steps because it's a simple HTML website

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: html-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: html-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4C99BA3FE4BF4F6D94A52D7253BE2E6F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E73BEBF1D11943E3A1780B68827CC98A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A8413620B356439BAEFA3B30AC75CB5E }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-hananali'
          slot-name: 'Production'
          package: .
